.home-container {
    color: #FCF304;
    font-weight: bold;

    .white-text {
        a {
            text-decoration: underline;
            color: #FFF;   
            letter-spacing: 1px;
            line-height: 1.4;
        }
    }
}