.projects-container {
    color: blue;
    width: 100%;
    text-align: center;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 10px;
    row-gap: 50px;
}

// ***** RESPONSIVE STYLING *****
@media  screen and (max-width: 770px) {
    .projects-container {
        grid-template-columns: repeat(1, 1fr);

    }

}