.about-container {
    color: #FFF;
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 1rem;

    margin: 3rem 0rem;

    .avatar-image {
        background-image: url('https://ik.imagekit.io/dwimageKit/portfolio-twenty-three/avatar-images/davids-avatar.jpg?updatedAt=1690419348707');

        background-position: center;
        background-repeat: no-repeat;
        border: 0.3rem solid #FCF304;
        border-radius: 20%;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        height: 80%;
        width: 15rem;
    }

    .certificate-image {
        background-image: url('https://ik.imagekit.io/dwimageKit/Continuing%20and%20Professional%20Education%20-%20Full%20Stack%20Web%20Development%20-%202022-03-23.png?updatedAt=1695083388271');
        background-position: center;
        background-repeat: no-repeat;
        border: 0.3rem solid #FCF304;
        border-radius: 50%;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        height: 50%;
        width: 10rem;
        margin: 1rem auto;
    }

    .about-text {
        font-size: 0.9rem;
        line-height: 1.4;
        letter-spacing: 0.02rem;
    
        p {
            .text-headline {
                color: #FCF304;
                font-size: 1rem;
            }
        }
        
        p:nth-child(even) {
            margin: 1rem 0rem;
        }
    }
}

// ***** RESPONSIVE STYLING *****
@media screen and (max-width: 770px) {
    .about-container {
        display: block;

        .avatar-image {
            height: 300px;
            margin: 0px auto;
        }
    }
}
