body {
  background-color: black;
  padding: 5rem;
  max-width: 1200px;
  margin: 0px auto;
}

/* ***** RESPONSIVE STYLING ***** */
@media screen and (max-width: 770px) {
  body {
    text-align: center;
  }
}
